/* Removed duplicate :root */

#hero{
    width: 50%;
    height: auto;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hero-container{
    padding-top: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-container div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-container div p{
    width: 80%;
    text-align: center;
    margin-top: 16px;
}

div h4{
    width: 80%;
    text-align: center;
    font-weight: 300;
}

.hero-container h1{
    width: 100%;
    text-align: center;
}

.call-to-action{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

/* Removed duplicate .btn */

#gold-members{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-container{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

/* Removed duplicate #main */

section h3{
    width: 100%;
}

#current-event{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-container,
.event-card{
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.381);
}

.event-card{
    padding: 20px;
    width: 300px;
}

.weather-container{
    background-color: var(--secundary);
    color: #fff;
    width: 100%;
    padding: 5px 50px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

#weather{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 700px){

    h1{
        font-size: 32px;
    }

    .hero-container{
        flex-direction: column;
    }

    #hero{
        margin-top: 30px;
        width: 100%;
        border-radius: 10px;
    }

    .hero-container div{
        margin-top: 30px;
        width: 100%;
    }

    .weather-container{
        flex-direction: column;
        width: 300px;
        padding: 20px 0;
    }
}